<!DOCTYPE html>
<html>
<head>
  <title>Restaurant2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<% if !!current_owner == true %>
  <p>Hello <%= current_owner.name %></p>
  <%= link_to "Sign Out", destroy_owner_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign In", new_owner_session_path %>
  <span> OR </span>
  <%= link_to "Sign Up", new_owner_registration_path %>
<% end %>
  
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
